.site-footer {
    position: relative;
    padding: $container-padding $container-padding $spacing-lg;
    background-color: color(dark);
    z-index: 1;
    
    &__wrapper {
        @include mq($from: desktop) {
            padding: $spacing-md $spacing-lg;
            display: flex;
            gap: $spacing-md;
            border-radius: $radius-big;
            background-color: color(bg-primary);
            overflow: hidden;
            
            &::before {
                content: '';
                z-index: -1;
                width: 100%;
                height: 50%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: color(light);
            }
        }
    }
    
    .bloc {
        color: color(light);

        @include mq($until: desktop) {
            margin-left: -$container-padding;
            margin-right: -$container-padding;
            padding: 0 $container-padding $spacing-small;
            background-color: color(secondary);
            margin-bottom: $spacing-small;
            overflow: hidden;
            transition: height .3s ease-in-out;

            &.is-closed {
                height: 60px !important;
                
                .bloc__title {
                    .svg-chevron-down {
                        transform: rotate(0deg);
                    }
                }
            }
        }
        
        @include mq($from: desktop) {
            flex: 1;
            color: color(dark);
        }

        &__title {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include font('bold');
            font-size: rem(20px);
            letter-spacing: 2px;
            text-transform: uppercase;
            color: currentColor;
            text-align: left;
            height: 60px;
            
            @include mq($until: desktop) {
                align-items: center;
            }

            .svg-chevron-down {
                transition: transform .3s ease-in-out;
                transform: rotate(180deg);

                @include mq($from: desktop) {
                    display: none;
                }
            }
        }

        &__content {
            margin-top: $spacing-xsmall;

            .button {
                margin-top: $spacing-small;
    
                @include mq($from: desktop) {
                    align-self: flex-start;
                }
            }
        }

    }
    
    &__navigation {
        a {
            color: currentColor;
            
            @include mq($from: desktop) {
                color: currentColor;
            }

            &:hover {
                color: color(link-hover);
            }
        }

        ul {
            padding-left: $spacing-xsmall;

            li {
                .svg-chevron-down {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &__follow {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-small;

        .modal {
            width: 100%;

            .button {
                margin-top: 0;
            }
        }

        // &__newsletter {
        //     position: relative;
        //     width: 100%;
        //     height: 44px;
            
        //     &__input {
        //         display: flex;
        //         border-radius:$radius-small !important;
        //         overflow: hidden;
        //         padding-left: $spacing-small;
        //         width: 100%;
        //         height: 100%;
        //         border: 0;
        //         background-color: color(input);
        //     }

        //     &__btn {
        //         position: absolute;
        //         top: 0;
        //         right: 0;
        //         width: 50px;
        //         height: 100%;
        //         background-color: color(button-bg);
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         color: color(light);
        //         border-top-right-radius: $radius-small;
        //         border-bottom-right-radius: $radius-small;
        //         transition: background-color .3s ease-in-out;

        //         .svg-chevron-down {
        //             transform: rotate(-90deg);
        //         }

        //         &:hover {
        //             background-color: color(button-hover-bg);
        //         }

        //         &:active {
        //             background-color: color(button-pressed);
        //         }
        //     }
        // }

        &__social {
            padding: $spacing-xsmall;
            border-radius: 40px;
            overflow: hidden;
            color: color(light);
            display: flex;
            align-items: center;

            @include mq($from: desktop) {
                color: color(dark);
            }

            &:hover {
                background-color: color(nav-hover);
            }
        }
    }
    
    &__bottom {
        margin-top: $spacing-md;
        display: flex;
        justify-content: center;
        align-items: center;
        color: color(light);

        @include mq($until: desktop) {
            flex-direction: column;
        }

        .svg-logo,
        .site-footer__creator,
        .site-footer__copyrights {
            flex: 1 0 auto;
            min-width: 300px;
    
            @include mq($until: desktop) {
                text-align: center;
            }
        }

        .svg-logo {
            padding: $spacing-small 0;
        }
        
        .site-footer__creator {
            @include mq($from: desktop) {
                text-align: right;
            }
        }
    }
}