.image-text {
    display: flex;
    margin: $spacing-md 0px;
    
    @include mq($until: 'l') {
        flex-direction: column;
        gap: $spacing-md;
    }

    @include mq($from: 'l') {
        align-items: center;    
    }

    &__text {
        @include mq($from: 'l') {
            padding: $spacing-md;
            flex: 1 0;
        }
    
    }

    &__img {
        display: flex;
        flex: 1 0;
        justify-content: center;

        .img-lazy {
            width: 100%;
        }
    }

    &.image-text--revert {
        @include mq($from: 'l') {
            flex-direction: row-reverse;
        }
    }

    &.ratio-img--150 {
        .image-text__img {
            flex: 1.5;
        }

        .image-text__text {
            flex: 0.5 0;
        }
    }

    &.ratio-img--120 {
        .image-text__img {
            flex: 1.2;
        }

        .image-text__text {
            flex: 0.8 0;
        }
    }

    &.ratio-img--110 {
        .image-text__img {
            flex: 1.1;
        }

        .image-text__text {
            flex: 0.9 0;
        }
    }

    &.ratio-img--90 {
        .image-text__img {
            flex: 0.9;
        }

        .image-text__text {
            flex: 1.1 0;
        }
    }

    &.ratio-img--80 {
        .image-text__img {
            flex: 0.8;
        }

        .image-text__text {
            flex: 1.2 0;
        }
    }
}