.modal {
    color: color(dark);

    &__dialog {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: opacity .2s ease-in-out, transform .2s ease-in-out, top .2s ease-in-out, left .2s ease-in-out;
        pointer-events: none;

        position: fixed;
        z-index: 1000;
        max-width: calc(100vw - ($spacing-xsmall * 2));
        width: $container-width;
        min-height: 80vh;
        max-height: calc(100vh - ($spacing-xsmall * 2));
        overflow: auto;
        background-color: color(light);
        border-radius: $radius-small;
        box-shadow: 1px 0px 16px 5px color(dark);
    
        @include mq($from: 'm') {
            max-width: calc(100vw - ($spacing-md * 2));
            max-height: calc(100vh - ($spacing-md * 2));
        }
    
        &__header {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: $spacing-small;
            background-color: color(dark);
            z-index: 2;

            p.modal__dialog__header__title {
                color: color(light) !important;
                padding: 0 !important;
                margin: 0 !important;
                @include font('bold');
            }

            &__close {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                padding: $spacing-xsmall;
                color: color(light);
                
                &:hover {
                    background-color: color(ateliers-hover);
                }
            }
        }
        
        &__content {
            padding: $spacing-small;
        }
    }

    &__backdrop {
        display: none;
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: all;
        z-index: 1;
    }

    &.is-open {
        .modal__dialog {
            opacity: 1;
            pointer-events: unset;
            transform: translate(-50%, -50%) scale(1);
            top: 50% !important;
            left: 50% !important;
        }

        .modal__backdrop {
            display: block;
        }
    }
}