.tease {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: color(search-bg);
    border-radius: $radius-small;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: $spacing-md;
    overflow: hidden;

    @include mq($from: 'm') {
        flex-direction: row;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        opacity: O;
        width: 100%;
        height: 100%;
    }

    &__img {
        @include mq($from: 'm') {
            width: 200px;
        }
    }

    &__img-wrapper {
        position: relative;
        width: 100%;
        height: 1px;
        padding-bottom: 56.25%;
        overflow: hidden;
        background-color: color(secondary);

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &__content {
        padding: $spacing-small;
        h2 {
            @include font('bold');
            font-size: rem(25px);
        }
    }
}