// Font settings
// -----------------------------------------------------------------------------
$base-font-size: 16px;
$base-line-height: 2;
$font-weights: (
  regular : 400,
  bold : 700,
  extra-bold : 800,
);

// Containers variables
// -----------------------------------------------------------------------------
$container-padding: 30px;
$container-width: 1500px;
$container-width-small: 885px;

$header-mobile-height: 70px;
$header-desktop-height: 85px;

$burger-width: 50px;

$typeset-width: 900px;

// Spacing variables
// -----------------------------------------------------------------------------
$spacing-xsmall: 10px;
$spacing-small: 20px;
$spacing-md: 50px;
$spacing-lg: 70px;
$spacing-xl: 120px;

// Radius variables
// -----------------------------------------------------------------------------
$radius-small: 10px;
$radius-big: 30px;


// Color Palette
// -----------------------------------------------------------------------------
$color-transparent: rgba(0,0,0,0);
$color-black: #2F3B41;
$color-white: #ffff;

$color-light: #F5F5F5;

$color-dark: #293665;
$color-dark-lightened: lighten($color-dark, 65%);

$color-primary: #ff7c48;
$color-primary: #e26134;
$color-primary-lightened: lighten($color-primary, 40%);

$color-secondary: #69A99B;
$color-secondary-lightened: lighten($color-secondary, 35%);

$color-tertiary: #BE3E82;
$color-tertiary-lightened: lighten($color-tertiary, 40%);


$default-colors: (
  dark:                 $color-dark,
  light:                $color-light,

  primary:              $color-primary,
  secondary:            $color-secondary,
  tertiary:             $color-tertiary,

  bg-dark:              $color-dark-lightened,
  bg-primary:           $color-primary-lightened,
  bg-secondary:         $color-secondary-lightened,
  bg-tertiary:          $color-tertiary-lightened,

  nav-active:           $color-secondary,
  nav-hover:            $color-dark-lightened,
  nav-pressed:          darken($color-dark-lightened, 5%),

  text:                 lighten($color-dark, 5%),
  input:                $color-dark-lightened,
  disabled:             darken($color-dark-lightened, 7%),

  search-bg:            $color-white,

  link:                 $color-primary,
  link-hover:           darken($color-primary, 5%),
  
  button-bg:            $color-primary,
  button-txt:           $color-light,
  button-hover-bg:      lighten($color-primary, 5%),
  button-pressed:       darken($color-primary, 5%),

  button-dark-bg:            $color-dark,
  button-dark-txt:           $color-light,
  button-dark-hover-bg:      lighten($color-dark, 5%),
  button-dark-pressed:       darken($color-dark, 5%),

  button-secondary-bg:            $color-secondary,
  button-secondary-txt:           $color-light,
  button-secondary-hover-bg:      lighten($color-secondary, 5%),
  button-secondary-pressed:       darken($color-secondary, 5%),

  button-tertiary-bg:            $color-tertiary,
  button-tertiary-txt:           $color-light,
  button-tertiary-hover-bg:      lighten($color-tertiary, 5%),
  button-tertiary-pressed:       darken($color-tertiary, 5%),

  button-neg-bg:        lighten($color-primary, 38%),
  button-neg-txt:       $color-primary,
  button-neg-hover-bg:  lighten($color-primary, 33%),
  button-neg-pressed:   lighten($color-primary, 29%),

  button-neg-dark-bg:            $color-dark-lightened,
  button-neg-dark-txt:           $color-dark,
  button-neg-dark-hover-bg:      lighten($color-dark, 64%),
  button-neg-dark-pressed:       lighten($color-dark, 56%),

  button-neg-secondary-bg:            lighten($color-secondary, 25%),
  button-neg-secondary-txt:           $color-secondary,
  button-neg-secondary-hover-bg:      lighten($color-secondary, 27%),
  button-neg-secondary-pressed:       lighten($color-secondary, 23%),

  button-neg-tertiary-bg:            lighten($color-tertiary, 25%),
  button-neg-tertiary-txt:           $color-tertiary,
  button-neg-tertiary-hover-bg:      lighten($color-tertiary, 27%),
  button-neg-tertiary-pressed:       lighten($color-tertiary, 23%),

  button-ghost-dark-bg:            $color-light,
  button-ghost-dark-txt:           $color-dark,
  button-ghost-dark-hover-bg:      lighten($color-dark, 60%),
  button-ghost-dark-pressed:       lighten($color-dark, 50%),

  focus:                $color-tertiary,

  ateliers-hover:       darken($color-dark, 5%)
)