// scss-lint:disable all
// Default typography settings, to be included as soon as possible in the HTML
// 1. Make type rendering look crisper
// 2. The default font size is 16px
// 3. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom.
//
// @requires {variable} $base-font-size
html {
  @include font-smoothing; /* 1 */
  font-size: strip-units($base-font-size) / 16 * 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */ // scss-lint:disable VendorPrefix
  -webkit-text-size-adjust: 100%; /* 3 */ // scss-lint:disable VendorPrefix
}


// Default text styles
// -----------------------------------------------------------------------------
body {
  @include font('regular');
  font-size: rem(20px);
  color: color(dark);
  line-height: 2;
}

.h1 {
  @include font(extra-bold);
  font-size: rem(50px);
  line-height: normal
}

.h2 {
  @include font(bold);
  line-height: normal;
  font-size: rem(35px);
}

.h3 {
  @include font(bold);
  line-height: normal;
  font-size: rem(30px);
}

.a {
  color: color(link);
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: color(link-hover);
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  width: 100%;
  min-height: 44px;
  border-radius: 40px;
  border: 0;
  background-color: color(input);
  padding: 0 $burger-width 0 $container-padding;
  appearance: none;
}

textarea {
  padding: $spacing-small;
  border-radius: $radius-small;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  height: 44px;
  overflow: hidden;
}

select {
  position: relative;

  &::before{
      content: '';
      z-index: 100;
      display: block;
      width: 20px;
      height: 20px;
      background-color: red;
  }
}

.disabled {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  select {
    background-color: color(disabled);
    cursor: not-allowed;
    font-style: italic;
  }
}

// Typeset
// -----------------------------------------------------------------------------
.typeset {
  max-width: $typeset-width;
  margin: 0 auto;

  h1 {
    @include font(extra-bold);
    font-size: rem(38px);
    line-height: 1.2;
  
    @include mq($from: 'desktop') {
      font-size: rem(40px);
    }
  }

  h2 {
    @include font(bold);
    font-size: rem(38px);
  
    @include mq($from: 'desktop') {
      font-size: rem(40px);
    }
  }

  h3 {
    @include font(bold);
    font-size: rem(30px);
    text-transform: uppercase;
  }

  h4 {
    @include font(bold);
    font-size: rem(28px);
    color: color(text);
  }

  h5 {
    @include font(bold);
    font-size: rem(25px);
  }

  h6 {
    @include font(bold);
    font-size: rem(22px);
  }


  p {
    @include font('regular');
    font-size: rem(20px);
    color: color(text);
    margin: $spacing-small 0;
  }

  hr {
    color: color(dark);
  }

  strong {
    @include font('bold')
  }

  em {
    font-style: italic;
  }

  a {
    @include font('regular');
    font-size: rem(20px);
    color: color(link);
  }

  ul,
  ol {
    padding-left: $spacing-small;
    margin: $spacing-small 0;

    li {
      position: relative;

      &::before {
        content: '•';
        position: absolute;
        left: -$spacing-small;
        top: 3px;
        color: color(primary);
      }
    }
  }

  blockquote {
    padding: $spacing-small;
    margin: $spacing-small 0;
    display: flex;
    justify-content: center;
    
    p {
      position: relative;
      font-size: rem(30px);
      text-align: center;
      max-width: 600px;
      font-style: italic;

      &::before {
        content: '"';
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $burger-width;
        height: $burger-width;
        transform: 
          translateX(-100%)
          translateY(-$spacing-small)
        ;
        font-size: rem(100px);
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: $spacing-md auto;
  }
}