[template="accueil"] {

    .site-container {
        .container {
            display: flex;
            flex-direction: column;
            gap: $spacing-lg;
    
            .image-text--hero {
                position: relative;
                margin: $spacing-small 0;
                gap: $spacing-xsmall;

                @include mq($from: 'l') {
                    margin: $spacing-lg 0;
                    padding: $spacing-small $spacing-md;
        
                    .image-text__text {
                        padding: $spacing-md $spacing-small;
                        margin-left: auto;
                        max-width: 500px;

                        paragraph {
                            padding: 0;
                        }
                    }

                    .image-text__img {
                        transform: scale(1.15);
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0 0;
                    height: 75%;
                    z-index: -1;
                    background-image: url('/images/accueil-hero-shape.svg');
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    // transform: scale(0,9);

                    @include mq($until: 'm') {
                        width: calc(100vw - $spacing-small);
                        margin-left: - calc($spacing-small / 2);
                        top: $spacing-md;
                    }

                    @include mq($from: 'l') {
                        inset: 0;
                        height: 100%;
                    }
                }

                .button--neg {
                    background-color: $color-white;
                }
            }
    
            .image-text--cours {
                .image-text__img {
                    position: relative;
        
                    &::before {
                        content: '';
                        position: absolute;
                        top: $spacing-md;
                        right: $spacing-small;
                        bottom: $spacing-md;
                        left: $spacing-small;
                        z-index: -1;
                        background-color: color(bg-primary);
                        overflow: hidden;
                        border-radius: $radius-big;
                    }
                }
            }
    
            .text-liste {
                position: relative;
                padding: $spacing-xl 0px;
    
                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    width: 100vw;
                    height: 100%;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: color(bg-secondary);
                }
            }
        }
    }

    .site-footer {
        &__wrapper {
            &::before {
                background-color: color(bg-secondary);
            }
        }
    }

}