[template="ateliers"] {
    .site-container {
        .container {
            display: flex;
            flex-direction: column;
            gap: $spacing-lg;
            
            .section--hero {

            }

            .section--ateliers {
                margin: $spacing-lg 0;

                .h2 {
                    margin-bottom: $spacing-md;
                }
            }
        }
    }
}